.chat-client {
  position: fixed;
  bottom: 0;
  right: 80px;
  width: 320px;
  height: 460px;
  box-shadow: rgba(153, 153, 153, 0.6) 0px 0px 5px 0px;

  .chat-header {
    background-color: #ff3e34;
    display: flex;
    justify-content: flex-end;
    padding: 10px 14px;
    color: #fff;
    font-weight: 500;
  }
  .message-container {
    overflow-y: auto;
    height: calc(100% - 40px);
    padding: 14px;

    .mess-system {
      display: flex;
      align-items: center;
      margin-top: 14px;

      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .text {
        background-color: #ff8787;
        padding: 6px 12px;
        border-radius: 10px;

        .info {
          font-size: 12px;
          display: flex;
          justify-content: flex-start;
          margin-bottom: 4px;

          .name {
            font-weight: 600;
          }
        }
      }
    }

    .mess-client {
      margin-top: 14px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .text {
        background-color: #ff8787;
        padding: 6px 12px;
        border-radius: 10px;

        .info {
          font-size: 12px;
          display: flex;
          justify-content: flex-end;
          margin-bottom: 4px;
        }
      }
    }
  }

  .chat-bar {
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 14px;
    background-color: white;
    position: relative;

    input {
      border: 1px solid #e4e7ea;
      border-radius: 32px;
      color: #1f2933;
      font-weight: 400;
      height: 40px;
      max-height: 100px;
      outline: none;
      overflow: hidden;
      padding: 8px 10px;
      width: 100%;
    }

    .icon-right {
      position: absolute;
      right: 24px;
      top: 18px;
      display: flex;
      opacity: 0.7;
      cursor: pointer;
    }
  }
}
