.profile {
  width: 100%;
  background-color: #fff;
  padding: 20px 10px;
  .title {
    margin-left: 8px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  .profile-item {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .profile-item-left {
      width: 180px;
      line-height: 38px;
    }
    .profile-item-right {
      width: 80%;
      border: 1px solid rgb(229, 226, 226) !important;
      border-radius: 4px;
      margin: 0px;
    }
    .red {
      color: rgb(237, 28, 36);
    }
  }
}
