.cart {
  display: flex;
  .cart-left {
    padding: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    .cart-item {
      display: flex;
      justify-content: space-between;

      img {
        display: inline-block;
        width: 50px;
      }
      .select-number {
        display: flex;
        border: 1px solid #ed1c24;
        height: 40px;
        border-radius: 6px;
        .MuiButtonBase-root {
          margin: 0px;
          border: none;
        }
      }
      .number {
        padding: 0px 20px;
        line-height: 40px;
        color: #ed1c24;
        // border-top: 1px solid #ed1c24;
        // border-bottom: 1px solid #ed1c24;
      }
      .original-price {
        text-decoration: line-through;
        text-decoration-color: #ed1c24;
      }
    }
    .footer-delete {
      border-top: 1px solid rgb(247, 247, 247);
      margin-top: 20px;
      padding-top: 10px;
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .cart-right {
    width: 40%;
    padding: 20px;
    .text {
      margin-bottom: 10px;
      text-shadow: rgba(0, 0, 0, 0.004) 1px 1px 1px;
      color: rgb(51, 51, 51);
      font-size: 13px;
    }
    .price {
      margin-bottom: 10px;
      font-size: 13px;
    }
    .discount {
      padding: 10px;
      border: 1px solid #ed1c24;
      border-radius: 4px;
      .MuiButtonBase-root {
        margin: 0px;
        border: none;
      }
      .discount-text {
        width: 300px;
        font-weight: 600;
        margin-left: 10px;
        margin-top: 10px;
      }
    }
  }

  .empty-cart {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.status-order {
  display: flex;
  .status-select {
    background-color: #ed1c24;
    color: #fff;
  }
  > div {
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
      background-color: #ed1c24;
      color: #fff;
    }
  }
}

.cart-list-items {
  .MuiButtonBase-root {
    background-color: #f10808;
    color: #fff;
    padding: 0px 20px;
  }
  .MuiAccordionSummary-content {
    display: flex;
    justify-content: space-between;
  }
  .MuiAccordionDetails-root {
    padding-bottom: 0px;
  }
}
