.chat-round {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 80px;
  right: 60px;
  background-color: #ed1c24;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
